/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #0f172a;
  color: white;
}

.input-style {
  @apply
      w-full
      h-12
      px-4
      rounded-xl
      bg-slate-800
      border
      border-slate-700
      outline-none;

}

textarea.input-style {
  height: 120px;
  padding-top: 12px;

}