<header
  class="fixed top-0 left-0 right-0 z-50 transition-transform duration-300 bg-slate-900/80 backdrop-blur-md border-b border-slate-700"
  [class.translate-y-0]="showNavbar()"
  [class.-translate-y-full]="!showNavbar()"
>
  <div
    class="max-w-[1600px] mx-auto px-4 h-16 flex items-center justify-between"
  >
    <h1 class="text-2xl font-bold text-indigo-400">SHOP</h1>

    <div class="flex items-center gap-5">
      <!-- Admin -->
      <button
        routerLink="/admin"
        class="text-right h-10 px-4 rounded-xl bg-slate-900/50 hover:bg-cyan-500 hover:text-black transition"
      >
        Admin
      </button>

      <!-- Wishlist -->
      <button routerLink="/wishlist" class="relative text-2xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.435 4.582a5.94 5.94 0 0 0-8.39 0L12 5.626l-1.045-1.044a5.94 5.94 0 1 0-8.39 8.39l1.045 1.044L12 21.435l8.39-8.419 1.045-1.044a5.94 5.94 0 0 0 0-8.39Z"
          />
        </svg>
        @if (wishlistStore.count()) {
          <span
            class="absolute -top-2 -right-2 w-5 h-5 rounded-full bg-red-500 text-xs flex items-center justify-center"
          >
            {{ wishlistStore.count() }}
          </span>
        }
      </button>

      <!-- Orders -->
      <button routerLink="/orders" class="relative text-2xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"
          />
        </svg>

        @if (orderStore.orders().length) {
          <span
            class="absolute -top-2 -right-2 w-5 h-5 rounded-full bg-indigo-500 text-xs flex items-center justify-center"
          >
            {{ orderStore.orders().length }}
          </span>
        }
      </button>

      <!-- Cart -->
      <button class="relative text-2xl" (click)="uiStore.toggleCart()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          />
        </svg>

        <span
          class="absolute -top-2 -right-2 w-5 h-5 rounded-full bg-red-500 text-xs flex items-center justify-center"
        >
          {{ cartStore.itemCount() }}
        </span>
      </button>
    </div>
  </div>
</header>
